<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="nl.devluuk.sleepywifi">

    <!--<uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />-->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".BackgroundService" />

        <!--<receiver android:name=".OnStart" android:enabled="true" android:permission="android.permission.RECEIVE_BOOT_COMPLETED">-->
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.BOOT_COMPLETED"/>-->
                <!--<action android:name="android.intent.action.QUICKBOOT_POWERON"/>-->
                <!--<action android:name="com.htc.intent.action.QUICKBOOT_POWERON"/>-->
                <!--<category android:name="android.intent.category.HOME" />-->
            <!--</intent-filter>-->
        <!--</receiver>-->
        <receiver android:name=".ScreenReceiver" />

    </application>

</manifest>